.body {
	  
    font-family: 'Tinos', serif;
    display: flex;
    justify-content: center;
    
    
}
.success {
    text-decoration: line-through;
}
.block {
     
    display: flex;
    flex-direction: column;
       
    outline: none;
    font-family: 'Tinos', serif;
        
    
}
.control {
    display: flex;
    justify-content: center;
       
}
.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.field {
    background: white;
    box-sizing: border-box;
    width: 500px;
    height: 50px;
    font-size: 23px;
    font-weight: 0.5px;
    padding-left: 15px;
    border: 5px solid gray;
    border-radius: 12px;
    color: gray;
    font-family: 'Tinos', serif;
    
    margin-bottom: 14px; 
    
}
.field:focus {
     outline: 0;
     border: 5px solid rgb(95, 90, 90);
     background-color:rgb(230, 221, 221);   
} 

.add {
    background-color: gray;
    border: 2px none;
    color: white;
    padding: 8px 20px 16px 20px;
    height: 40px;
    border-radius: 7px;
    margin: 5px;
    font-size: 20px;
}

.text {
    
    line-height: 1.1;
    outline: none;
    margin: 5px 0 5px 0;
}

.add:hover {
    background-color: hsla(0, 48%, 42%, 0.986);
}

.taskBox {
    
    display: flex;
    
    font-size: 23px;
    margin-left: 20px;
    padding: 5px 10px 5px 10px;    
    margin-right: 20%;
    width: 10em;    
}
.checkBox:hover {    
    transform: scale(1.2);
}
.checkBox {
    margin: 0 10px 0 5px;
}
.deleteButton:hover {
    transform: scale(1.2);    
}